.ExpertsSection{
    height:50vh;
    font-size:1.2em;
    background-color:#11212D;
    margin-bottom:0 !important;
}

.CustomerSectionCloud{
    height:50vh;
    font-size:1.2em;
    background-color:#1E2E38;
    margin-bottom:0 !important;
}