.JoinDeependSection{
    background-image: url('../../../assets/images/DeependBG.png');
    margin-bottom:0 !important;
    padding:10em;
}

@media (max-width: 720px) {
    .JoinDeependSection{
        padding:0em;
    }
    }