.TridiumSection{
    font-size:1.2em;
    background-color:#10141E !important;
    margin-bottom:0 !important;
    margin-top: 0 !important;
}


.buttonDiv{
    margin-left: 13em;
}

@media (max-width: 720px) {
    .buttonDiv{
        margin-left: 0em;
    }
    }


    
