.ImageLeftSection{
    background-color: #11212D;
    margin-bottom:0 !important;
    padding:10em;
}


@media (max-width: 720px) {
    .ImageLeftSection{
        padding: 0em;
    }
    }
.TitleOfLeft{
    color:#3CBFF3;
}

.ImageRightSection{
    background-color: #1E2529;
    margin-bottom:0 !important;
    padding:10em;
}

@media (max-width: 720px) {
    .ImageRightSection{
        padding: 0em;
    }
    }

.CustomerSection{
    background-color: #1E2529;
    margin-bottom: 0;
}


.TitleOfRight{
    color:#3CBFF3;
}

.RightSectionImage{
    margin-left:4em;
}