.CommonHero{
    height: 30%;
    background-color: #0B0D13;
    background-image: url('../../assets/images/DeependBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0em;
}