.MainNavBar{
    background-color: RGBA(15,19,23,0.82);
    color: white;
}

.LinkTextContainer{
    cursor:pointer !important;
}

.NavInner{
    margin-right: 15em;
    font-size: 1.3em
}


.NavLink{
    color: white;
    padding-bottom: 20px;
    padding-top: 0px !important;
    color: white !important;
    display: flex !important;
}

.NavLink:hover{
    color:#00ADEF;
    text-decoration: none;
    border-bottom: 7px solid #00ADEF;
}
.NavLinkActive{
    color:#00ADEF;
    text-decoration: none;
    border-bottom: 7px solid #00ADEF;
}


@media (max-width: 768px) {
    .navbar-nav{
       display: block;
    }
  }