.SocialNavBar{
    background-color: #1E2529;
    color: white;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
}

.SocialIcon{
    color: #414E55;
    margin-right: 1em;
}

.RightText{
    margin-right: 6em;
}

.LoginIcon{
    color:white;
}