.ChallengeSection{
    background-color: #1E2529;
    margin-bottom:0 !important;
    padding:10em;
}

.ChallengeSectionCloud{
    background-color: #1E2E38;
    margin-bottom:0 !important;
    padding:10em;
}

@media (max-width: 720px) {
    .ChallengeSection{
        padding:0em;
        margin-bottom:0 !important;
    }
    }

    @media (max-width: 720px) {
        .ChallengeSectionCloud{
            padding:0em;
            margin-bottom:0 !important;
        }
        }