.ConnectSection{
    background-image: url("../../../assets/images/DeependBG.png");
    height:50vh;
    font-size:1.2em;
    background-color:#11212D;
    margin-bottom:0 !important;
}

#We{
    color: #37667D;
}

.Words{
    color: #3CBFF3;
}
