.Hero{
    height: 100vh;
    background-color: RGBA(15,19,23,0.93);
    margin-bottom: 0em;
}

.TextWrapper{
    padding-top: 15em;
    color:#3CBFF3;
    z-index: 1;
}

.HeadingText{
    font-size:3.5rem;
}

.under-text{
    font-weight: 400;
    color:white;
}
/* Laptops / desktops*/
@media (min-width:1025px) { 
    .TextWrapper{
        padding-left:10em;
    } 
 }

 .cta-button{
     margin-top: 1em;
    border-color: #3CBFF3;
    color: white;
    padding-right:2em;
    padding-left:2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em
 }


  .jumbotron video {
    position: absolute;
    z-index: -1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.2;
  }

  