.InnovateSection{
    height:68vh;
    font-size:1.2em;
    background-color:#10141E;
    margin-bottom:0 !important;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;

}

.InnovateText{
    margin-top: 5em !important; 
    color: #00ADEF;
}


