.PlatformSection{
    font-size:1.2em;
    background-color:#10141E;
    margin-bottom:0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat;
    background-position: right;

}


.LeftSection{
    background-image: url('../../../assets/images/BitpoolPlatform.png');
    background-position: cover;
  ;
}



.PlatformCardStep{
    width: 81%;
    margin: 0 auto;
    float: none; 
    margin-bottom: 0px;
    border-radius: 0;
    padding: 3em;
}