.TopText{
    background-image: url('../../../assets/images/DeependBG.png');
    padding:4em;
}

.TeamImagesSection{
    background-color: #0E1216;
}
.TeamMemberCard{
    border:none;
    height:15em;
 
}

.TeamMemberCardImg{
    height: 100%
}